<nav class="navigation"[ngClass]="{'isActive': isActive, 'fixed': isPosition}">
  <div class="container-header">
    <div class="container-header__rickandMorty"[ngClass]="{'isActive': isActive}">
      <div class="title">Rick and Morty</div>
      <div class="nav" [ngClass]="{'isActive': isActive}" #nav>
        <nav class="links" [ngClass]="{'isActive': isActive, 'isModal': isPosition}">
          <ul class="navbar-nav-rickandMorty" [ngClass]="{'isActive': isActive}">
            <li class="item-link">
                <a class="link" (click)="onPositionPage('start')">top</a>
            </li>
            <li class="item-link">
              <a class="link" (click)="onPositionPage('end')">bottom</a>
          </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="container-header__burger">
      <div class="burger-btn"(click)='onBurgerMenu()'>
        <span></span>
      </div>
    </div>
  </div>
</nav>
