<nav class="navigation"[ngClass]="{'isActive': isActive, 'fixed': isPosition}">
  <ng-container *transloco="let t">
    <div class="container-header">
      <div class="container-header__rickandMorty"[ngClass]="{'isActive': isActive}" (click)='onBurgerMenu()'>
        <div class="title">{{t("nav_header.title")}}</div>
        <div class="nav" [ngClass]="{'isActive': isActive}" #nav>
          <nav class="links" [ngClass]="{'isActive': isActive, 'isModal': isPosition}">
            <ul class="navbar-nav-rickandMorty" [ngClass]="{'isActive': isActive}">
              <li class="item-link">
                  <a class="link" (click)="onPositionPage('start')">{{t("nav_header.top")}}</a>
              </li>
              <li class="item-link">
                <a class="link" (click)="onPositionPage('end')">{{t("nav_header.bottom")}}</a>
            </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="container-header__burger">
        <div class="burger-btn"(click)='onBurgerMenu()'>
          <span></span>
        </div>
      </div>
    </div>
  </ng-container>
</nav>
