@import '../../../styles/mixins-fonts-style.scss';
@import '../../../styles/color.scss';

.wrapper-main-page {
  @include flex(column, space-between);
  align-items: center;
  margin-top: 131px;

  &__cart {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: 1fr;
    row-gap: 39px;
    column-gap: 38px;
  }

  &__naveget {
    height: 45px;
    margin-top: 68px;
    margin-bottom: 96px;

    .btn {
      height: 100%;
    }
  }
}

@media(max-width: 1100px) {
  .wrapper-main-page {
    &__cart {
      grid-template-columns:repeat(3, 1fr)
    }
  }
}

@media(max-width: 800px) {
  .wrapper-main-page {
    &__cart {
      grid-template-columns:repeat(2, 1fr)
    }
  }
}

@media(max-width: 540px) {
  .wrapper-main-page {
    &__cart {
      width: 97%;
      column-gap: 13px;

      .item {
        width: 100%;
      }
    }
  }
}


