$title_cart:#303030;
$background_cart :#FFFFFF;
$background: #80808073;
$shadowImg:#000;
$shadowCart:#FFFFFF;
$white: #FAFAFA;
$title_header:#00F600;
$green:#00F600;
$black_lite: #000000;
$links: #FCFCFC;
