@mixin flex($direction, $justify_content) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify_content;
}

@mixin title($weight, $size, $position) {
  font-weight: $weight;
  font-size: $size;
  text-align: $position;
}
