<!-- <nav aria-label="Page navigation example">
  <ul class="pagination"#nav>
    <li class="page-item"*ngFor="let item of this.pages">
      <a class="page-link" (click)="onUploadPage(item)">{{item}}</a>
    </li>
  </ul>
</nav> -->
<nav aria-label="...">
  <ul class="pagination" #nav>
    <li class="page-item">
      <a class="page-link">Previous</a>
    </li>
    <li class="page-item" [ngClass]="{'active': isNumberPage === item}"
      *ngFor="let item of this.pages"
      (click)="onUploadPage(item)"
      >
      <span class="page-link">{{item}}</span>
    </li>
    <li class="page-item">
      <a class="page-link">Next</a>
    </li>
  </ul>
</nav>
