@import '../../../styles/mixins-fonts-style.scss';
@import '../../../styles/color.scss';

.modal-window {
  background: rgba(41, 41, 41, 0.6);
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  user-select: none;
  z-index: 100;

  &__wrapper-modal {
    @include flex(column, space-between);
    position: absolute;
    width: 905px;
    height: 461px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .information-review {
      @include flex(column, center);
      width: 100%;
      height: 100%;
      background: $white;
      border-radius: 9px;

      .main {
        @include flex(row, space-between);
        height: 100%;
        width: 100%;

        &__photo-review {
          box-shadow: inset -71px -6px 53px 8px $white;
          background-size: contain;
          background-repeat: no-repeat;
          width: 60%;
          height: 100%;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        &__info {
          width: 50%;

          ul {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            column-gap: 15px;
            row-gap: 15px;
            width: 90%;
            margin: 0 auto;
            margin-top: 32px;
            list-style: none;

            li {
              @include flex(column, flex-start);
              @include title(500, 20px, unset);

              span {
                @include title(300, 20px, unset);
              }
            }
          }
        }
      }
    }

    .btn_close {
      box-sizing: border-box;
      width: 52px;
      height: 52px;
      margin-left: auto;
      margin-right: 0;
      border: 2px solid $green;
      border-radius: 100px;
      color: #292929;
      background-color: transparent;
      cursor: pointer;

      span {
        color: $green;
      }
    }
  }
}

@media(max-width: 1000px) {

  .modal-window {

    &__wrapper-modal {
        width: 692px;
        height: 383px;
    }
  }
}

@media(max-width: 730px) {

  .modal-window {

    &__wrapper-modal {
        width: 489px;
        height: 267px;

      .information-review {
        .main {

          &__info {
            ul {

              li {
                font-size: 11px;

                span {
                  font-size: 11px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 530px) {
  .modal-window {

    &__wrapper-modal {
        width: 216px;
        height: 230px;

      .information-review {

        .main {
          flex-direction: column;

          &__photo-review {
            display: none;
          }

          &__info {
            width: 100%;
            height: 100%;

            ul {
              margin-top: 15px;
              column-gap: 6px;
              row-gap: 6px;
              width: 100%;

              li {
                font-size: 11px;

                span {
                  font-size: 11px;
                }
              }
            }
          }
        }
      }
    }
  }
}
