body{box-sizing:border-box;margin:0;padding:0;border:0;background-color:#80808073}@media (max-width: 1100px){body.isActive{overflow:hidden}}body{margin:0;font-family:Roboto,Helvetica Neue,sans-serif}
