
body.isActive {
  overflow: hidden;
  // overflow: scroll;
}
body {
  box-sizing:border-box;
  margin: 0; padding: 0; border: 0;
  background-color: #FFFFFF;
}

@media(max-width: 1100px) {
  body.isActive {
    overflow: hidden;
    // overflow: scroll;
  }
}

// html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
